<!DOCTYPE html>
<html>
  <head>
    <title>NewAdminBq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_pack_tag 'index', 'data-turbolinks-track': false %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
